@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* utility styles */

#bottom-line{
  display: block;
  width: 100px;  
  margin: auto;
  text-align: center;  
  border-bottom: 3px solid #dc3545 ;
}



/* Main stylings */



.navbar{
  background-color: #6a0dad;    
}
.navbar-two{
  border-bottom: 2px solid #dc3545;  
}
.navbar-brand{
  font-family: 'Pattaya', sans-serif;
}
a{
  text-decoration: none;
  color: white;
}
#navbar-btns .fa{
  font-size: 28px;
}


/* Main header style */
#main-header{
  height: 100%;
  color: #fff;
  font-family: 'Pattaya', sans-serif;
  position: relative;
  text-align: center;
  background: url('../img/pexels-thirdman-7659873.jpg') no-repeat center center/cover;
}
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
}

/* Introduction */
#introduction{
  background: #6a0dad;
  height: 100vh;
  position: relative;
}
#introduction img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.intro-img{
  margin-top: 15%;
}

/* Tips */
#Tips{
  background: url('../img/pexels-tara-winstead-7723538.jpg  ') no-repeat center center/cover;
  background-attachment: fixed;
  position: relative;
  color: white;
}



/* Departments Styles */

.dept-link{  
  margin-left: 40%;
}
/* Maps */

.map-container{
  /* background: #6a0dad; */
  border-radius: 10px;
}

/* Blog styles */
#blog-header{
  background: #f4f4f4;  
  position: relative;  
  font-family: 'Pattaya', sans-serif;
}

.card{
  border: none;
  box-shadow: 2px 2px 5px 2px #999;
}

/* Team sheet Styles */
#team-header{
  background: #f4f4f4;  
  position: relative;  
  font-family: 'Pattaya', sans-serif;
}
#team{
  background: #fff;
  height: 100%;
  position: relative;
}
#team > img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
#team h2{
  color: #555;
}

#team .team-img{
  margin-top: -70px;
  box-shadow: 1px 1px 5px 5px #1111;
  transition: transform 1.5s cubic-bezier(0.2, 1, 0.3, 1); 
}
.team-card{
  margin-top: 50px;
}
.team-card:hover img{
  transform: scale(1.2) translateX(0) translateY(0) rotate(0);  
  box-shadow: 1px 1px 5px 5px #1111;
}
#team .team-img:hover{
  transform: scale(1.2) translateX(0) translateY(0) rotate(0);
  box-shadow: 1px 1px 5px 5px #1111;
}


/* Contact Styles  */

#contact i{
  color: #fff ;
}
#contact .fa-address-book{
  color: #28a745;
  font-size: 50px;
}
#contact .fa-wpforms{
  color: #17a2b8;
}

/* Signup Styles  */
#signup{
  background: url('../img/pexels-cottonbro-5722156.jpg') ;
  background-repeat: no-repeat;  
  background-attachment: fixed;  
  background-size: cover;  
  font-family: 'Pattaya', sans-serif;
}

.box{
  background-color: rgba(16, 3, 31, 0.8);
  border-radius: 10px;
  color: #fff;
  position: relative;
  z-index: 1;
}

.signup{
  width: 50%;
  border-radius: 10px;
  margin: auto; 
  background: rgba(219, 20, 60, 0.9);
}
.signup button{   
  transition: all 0.3s ease-in-out;
}
.signup button:hover{
  background: #333;
  color: #fff;
  cursor: pointer;
}
.signup  .fa{
  color: black;
}

/* login styles */
#Login{
  overflow-x: hidden ;
}
#Login i{
  color: #fff;
}
#Login .icon{
  color: #17a2b8;
}

/* Dashboards styles */

#dashboard-header{
  background: #6a0dad;
}
#dashboard-img{
  margin-left: 25%;
}
.aprroval-notifier{
  position: absolute;
  background: #d60c0c;
  width: 8px;
  margin-top: .3rem;
  top: 0;
  right: 0;
  height: 8px;
  border-radius: 50%;
}
.accounts-notifier{
  position: absolute;
  background: green;
  width: 8px;
  margin-top: .3rem;  
  top: 0;
  right: 0;
  height: 8px;
  border-radius: 50%;
}

#main-footer{
  background: #6a0dad;
}
#main-footer .icons .fa{
  font-size: 28px;
  margin: 1rem;
}
